/* 超小设备（手机 ） */

@media (min-width: 320px) {}


/* 小型设备（平板电脑，768px 起） */

@media (min-width: 768px) {
    .second h1 {
        /*margin-top: 25px;*/
        /*color: white;*/
        font-size: 28px;
    }
    .second .second-content .second-p {
        margin-top: 15px;
    }
    .second .second-content p {
        color: white;
        font-size: 22px;
    }
    .third h1 {
        margin-top: 25px;
        color: white;
        font-size: 24px;
    }
    .third .third-content p {
        color: white;
        font-size: 20px;
    }
    .fourth h1 {
        margin-top: 25px;
        color: white;
        font-size: 24px;
    }
    .fourth p {
        color: white;
        font-size: 20px;
        margin-top: 15px;
        line-height: 1.8;
    }
    .fifty h1 {
        margin-top: 25px;
        color: white;
        font-size: 24px;
    }
    .fifty p {
        color: white;
        font-size: 20px;
        margin-top: 15px;
        line-height: 1.8;
    }
}


/* 中型设备（台式电脑，992px 起） */

@media (min-width: 992px) {
    .second .second-content p {
        font-size: 26px;
    }
    .second .second-content a {
        font-size: 22px;
    }
    .third .third-content p {
        font-size: 24px;
    }
    .fourth p {
        font-size: 24px;
    }
    .fifty p {
        font-size: 24px;
    }
}


/* 大型设备（大台式电脑，1200px 起） */

@media (min-width: 1200px) {
    .second .second-content p {
        font-size: 26px;
    }
    .second .second-content a {
        font-size: 22px;
    }
    .third .third-content p {
        font-size: 24px;
    }
    .fourth p {
        font-size: 24px;
    }
    .fifty p {
        font-size: 24px;
    }
}